@using ServiceTitanWebApp.ViewModels
@model RequestCommentsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ServiceTitanBusinessObjects.Comment comment = new();
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-requestId="@Model.RequestId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => comment.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => comment.CommentText)
            </th>
            <th>
                @Html.DisplayNameFor(model => comment.CommentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
