@model IEnumerable<ServiceTitanBusinessObjects.ServiceRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Requests</h1>
@{
    @if (TempData["CreateSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>@TempData["CreateSuccess"].ToString()</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (TempData["EditSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>@TempData["EditSuccess"].ToString()</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (TempData["CancelSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>@TempData["CancelSuccess"].ToString()</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (TempData["DeleteSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>@TempData["DeleteSuccess"].ToString()</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDateNeeded)
            </th>
            @if (!User.IsInRole("User"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Client)
                    </th>
                }
            <th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestPrice) BHD
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDateNeeded)
            </td>
                @if (!User.IsInRole("User"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.FullName)
                    </td>
                }
                
            <td>
                    @Html.DisplayFor(modelItem => item.Technician.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Status)
            </td>
                <td>
                    <a asp-controller="Document" asp-action="Index" asp-route-requestId="@item.RequestID">Documents</a> <span> |</span>
                    <a asp-controller="Comment" asp-action="Index" asp-route-requestId="@item.RequestID">Comments</a> <span> |</span>
                    <a asp-action="Details" asp-route-id="@item.RequestID">Details</a> <span> |</span>
                    @if (item.StatusId != 4 && item.StatusId != 3)
                    {
                        // if request complete or cancelled then cannot cancel or edit
                            <a asp-action="Edit" asp-route-id="@item.RequestID">Edit</a> <span> |</span>
                        <a asp-action="Cancel" asp-route-id="@item.RequestID">Cancel</a> <span> |</span>
                    } else
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            // unless user is admin or manager
                            <a asp-action="Edit" asp-route-id="@item.RequestID">Edit</a> <span> |</span>
                        }
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.RequestID">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
