@using ServiceTitanWebApp.ViewModels
@model LogIndexViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container p-3">

    <div class="row pt-4">
<div class="col-8">
    <form asp-controller="Log" method="get" asp-action="Index">

        User Name:
            <input type="text" name="searchUser" asp-for="searchUser" />

        Log Type:
        <select name="searchLogType" asp-for="searchLogType" asp-items="Model.LogTypes.Select(lt => new SelectListItem{Text = lt, Value = lt})">
            <option value="">All</option>
        </select>

        <a asp-controller="Log" asp-action="Index" class="btn btn-outline-danger">
            Clear
        </a>
        <input type="submit" value="Search" class="btn btn-secondary mx-2" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.Source)*@Source
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.Time)*@
                Time
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.Message)*@
                Message
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.OriginalValue)*@
                Original Value
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.CurrentValue)*@
                Current Value
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.Type)*@
                Type
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.User)*@
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Logs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LogID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LogID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LogID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>