@using ServiceTitanWebApp.ViewModels
@model CategoryIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mb-3">Categories</h1>

@{
    @if (TempData["CreateSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>@TempData["CreateSuccess"].ToString()</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (TempData["EditSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>@TempData["EditSuccess"].ToString()</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (TempData["DeleteSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div>@TempData["DeleteSuccess"].ToString()</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    }

    <form asp-controller="Category" method="get" asp-action="Index" class="mb-3">
        <div class="hstack gap-2" style="max-width:45rem;">
             <input class="form-control" type="text" name="searchName" asp-for="searchName" placeholder="Search" />
             <label asp-for="searchManager">Manager:</label>
                <select style="max-width:10rem;" class="form-select" name="searchStatus" asp-for="searchManager" asp-items="Model.Managers.Select(m => new SelectListItem{Text = m.FullName, Value = m.UserID.ToString()})">
                    <option value="">All</option>
                </select>
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-danger">
                    Clear
                </a>
                <input type="submit" value="Search" class="btn btn-secondary" />
        </div>
    </form>

<div class="row row-cols-1 row-cols-lg-3 g-3">
        @foreach (var item in Model.Categories)
        {
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h3 class="card-title">
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="crop-text-2" style="height:3rem;">
                            @Html.DisplayFor(modelItem => item.CategoryDescription)
                        </div>
                        <div class="">
                            @Html.DisplayFor(modelItem => item.CategoryManager.FullName)
                        </div>
                        <hr class="m-2" />
                        <div class="g-2">
                            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.CategoryID">Details</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

 @* <div class="container p-3">

    <div class="row pt-4">

        <div class="col-8">
            <form asp-controller="Category" method="get" asp-action="Index">
                Category Name:
                <input type="text" name="searchName" asp-for="searchName" />
                

                Manager:
                <select name="searchManager" asp-for="searchManager" asp-items="Model.Managers.Select(m => new SelectListItem{Text = m.FullName, Value = m.UserID.ToString()})">
                    <option value="">All</option>
                </select>

                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-danger">
                    Clear
                </a>
                <input type="submit" value="Search" class="btn btn-secondary mx-2" />
            </form>
        </div>

        

        <table class="table">
            <thead>
                <tr>
                    <th>
                        CategoryName
                    </th>
                    <th>
                        CategoryDescription
                    </th>
                    <th>
                        CategoryManager
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var category in Model.Categories) {
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => category.CategoryName)
                        
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => category.CategoryDescription)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => category.CategoryManager.UserEmail)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@category.CategoryID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@category.CategoryID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@category.CategoryID">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>  *@