@model IEnumerable<ServiceTitanBusinessObjects.Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @if (User.IsInRole("Admin")) 
                {
                        <a asp-controller="ServiceRequest" asp-action="AdminCreate" asp-route-id="@item.ServiceID">Create Request</a> <span> |</span>
                } else
                {
                        <a asp-controller="ServiceRequest" asp-action="Create" asp-route-id="@item.ServiceID">Create Request</a> <span> |</span>
                }
                    <a asp-action="Edit" asp-route-id="@item.ServiceID">Edit</a> <span> |</span>
                    <a asp-action="Details" asp-route-id="@item.ServiceID">Details</a> <span> |</span>
                <a asp-action="Delete" asp-route-id="@item.ServiceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
